<section class="fishut-details-section">
  <h3 class="fishut-details-heading">{{labels.sectionHeader}}</h3>
  {{#if isSubstance}}
    {{> fishut-details-substance}}
  {{/if}}
  {{#if isParaphernalia}}
    {{> fishut-details-paraphernalia}}
  {{/if}}
</section>
